.globaldiv{
    background-color: #f5f5f5;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}
.globalworkspace {
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    font-size: x-large;
    font-weight: bolder;
}

.workspacemenu {
    padding: 10px;
    margin: 10px;
    margin-left: 30px;
    font-size: large;
    font-weight: bolder;

}

.menuselect {
    padding: 10px;
    margin: 10px;
    margin-left: 40px;
    font-weight: bolder;

}

.useraction {
    padding: 10px;
    margin: 10px;
    margin-left: 50px;
    font-weight: bolder;
    margin-bottom: 0;
    padding-bottom: 0;

}

.screenbutton {
    padding: 10px;
    margin: 10px;
    margin-left: 60px;
    font-weight: bolder;
    border: #848482 1px solid;
    border-radius: 5px;
    background-color: gray;
    max-width: 100px;

}

.radio {
    padding: 10px;
    margin: 10px;
    margin-left: 70px;
    font-weight: bolder;

}

